* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.introduction {
    /* border: 4px solid #000; */
    position: relative;
    height: 100vh;
    width: 50%;
    left: 25%;
    /* border: 1px solid #000; */
    box-sizing: border-box;
    box-shadow: 0.5px 0.5px 2px 2px rgb(205, 217, 246);
    border-radius: 10px; 
    font-size: 12px;
}

.topic {
    position: absolute;
    top: 1%;
    left: 24%;
    /* text-align: center; */
    /* font-family: monospace; */
}

.introduction img {
    height: 20vh;
    width: 15vw;
    position: absolute;
    left: 35%;
    top: 8%;
}

.subject_title {
    position: absolute;
    top: 28%;
    left: 36%;
    letter-spacing: 5px;
}

.sub_main {
    position: absolute;
    top: 37%;
    width: 100%;
    /* left: 25%; */
    /* border: 1px solid red; */
}

.one {
    height: 10vh;
    width: 80%;
    display: flex;
    align-items: center;
    margin-left: 10%;
    /* ju/stify-content: space-between; */
    /* width: 100%; */
    /* border: 1px solid #000; */
}
.one h1:nth-child(2){
    /* border: 1px solid blue; */
    position: absolute;
    left: 49%;
    font-weight: 200;
    padding-top: 20px;
}
.title {
    text-align: center;
    letter-spacing:3px ;
    color: rgb(81, 81, 161);
    margin-top: 2%;
    /* border: 1px solid #000; */
}

.dep_title {
    text-align: center;
    margin-top: 1%;
}
.first_page{
    height: 100vh;
    width: 50%;
    position: relative;
    left: 25%;
    margin-top: 1%;
    box-shadow: 0.5px 0.5px 2px 2px rgb(205, 217, 246);
    border-radius: 10px; 
}
.first_one{
 position: absolute;
 left: 25%;
 top: 2%;
}
.first_page img{
    height: 30%;
    width: 40%;
    border-radius: 10%;
    position: absolute;
    top: 10%;
    left:30% ;
}
.intro_sub{
    position: absolute;
    left: 10%;
    top: 44%;
    font-weight:400 ;
}
.first_page p , .order , .facts{
    width: 85%;
    line-height: 24px;
    position: absolute;
    top: 50%;
    font-size: 18px;
    left: 10%; 
}
a{
    color: black;
}
.intro_sub1{
    top: 6%;
}
.sub_p{
    top: 13% !important;
}
.order1{
    top: 65%;
}
.order2{
    top: 80%;
}
.facts0{
    top: 15%;
     line-height: 5vh;
    /* letter-spacing: px; */
}
.facts1{
    top: 27%;
    line-height: 5vh;
}
.facts2{
    line-height: 5vh;
}
.facts3{
    top: 65%;
}
.facts4{
    top: 80%;
}
span{
    font-weight: bold;
    padding-right: 6px;
    /* letter-spacing: 2px; */
}
.final{
    top: 14% !important;
    line-height: 4.4vh !important;
}
.intro_final{
    top: 60%;
}
.ref{
    top: 68% !important;
}